.form-control {
    border: 0 !important;
    border-bottom: 2px solid #f5105c !important;
}

[alt="bar"] {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid {
    width: 100% !important;
}

.barimage {
    width: 50%;
}

.pl-10 {
    padding-left: 10%;
}

@media (max-width: 992px) {
    .barimage {
        width: 100%;
    }
}