.form-control {
    border: 0 !important;
    border-bottom: 2px solid #f5105c !important;
}

[alt="bar"] {
    max-width: 100%;
    height: auto;
    max-height: 940px;
    left: 0px;
    right: 0px;
}

.container-fluid {
    width: 100% !important;
}